USE [Dictionary]--ten CSDL
GO
/****** Object:  Table [dbo].[tblDictionary]    Script Date: 4/27/2021 10:42:17 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblDictionary]') AND type in (N'U'))
DROP TABLE [dbo].[tblDictionary]
GO
/****** Object:  Table [dbo].[tblDictionary]    Script Date: 4/27/2021 10:42:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDictionary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[word] [nvarchar](200) NOT NULL,
	[mean] [nvarchar](250) NULL,
	[example] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tblDictionary_1] PRIMARY KEY CLUSTERED 
(
	[word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblDictionary] ON 

INSERT [dbo].[tblDictionary] ([ID], [word], [mean], [example]) VALUES (1, N'apple', N'Quả táo', N'I have an apple.')
INSERT [dbo].[tblDictionary] ([ID], [word], [mean], [example]) VALUES (3, N'book', N'sách(v), đặt vé(v)', N'I book a ticket.')
INSERT [dbo].[tblDictionary] ([ID], [word], [mean], [example]) VALUES (4, N'phone', N'Điện thoại', N'John has just bought a new phone')
SET IDENTITY_INSERT [dbo].[tblDictionary] OFF
GO
